#!/usr/bin/env python

##**************************************************************************
 #                       CocontractionProfileDynParameters.cfg        	   *
 #                           -------------------                           *
 # copyright            : (C) 2022 by Ignacio Abadia                       *
 # email                : iabadia@ugr.es                                   *
 #**************************************************************************/

##**************************************************************************
 #                                                                         *
 #   This program is free software; you can redistribute it and/or modify  *
 #   it under the terms of the GNU General Public License as published by  *
 #   the Free Software Foundation; either version 3 of the License, or     *
 #   (at your option) any later version.                                   *
 #                                                                         *
 #**************************************************************************/

PACKAGE = "neuromechanics_control"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("cocontraction", double_t, 0, "cocontraction profile", 1.0, 0.0, 100.0)

exit(gen.generate(PACKAGE, "neuromechanics_control", "CocontractionProfileDynParameters"))
